$curve: cubic-bezier(0.18, 0.78, 0, 1);
$in-out: cubic-bezier(0.64, 0.1, 0, 1);

$black: #000000;
$white: white;
$beige: #e6dfd8;

$gray-05: #f9f9f9;
$gray-04: #77889d;
$gray-03: #b4bfca;
$gray-02: #d7dde3;
$gray-01: #f8f9fa;

$medium-blue: #1b4098;
$light-blue: #0bbbef;

$dark-blue: #122a64;
$yellow: #ffed00;
$light-green: #00ad68;
$dark-green: #004e59;
$green-overgrown-mausoleum: #488936;
$purple: #873299;
$purple-warm: #983795;
$cherry: #dd0057;
$red: #dd0031;
$red-ruby-fire: #ed0c6e;

// linear gradients
$linear-yellow: linear-gradient(#ffd416, #faaf40);
$linear-green: linear-gradient(to right, #00ad68, #0d6247);
$linear-red: linear-gradient(to right, #dd0057, #711438);
$linear-blue: linear-gradient(to right, #006886, #0bbbef);
$linear-dark-green: linear-gradient(to right, #004e59, #00171a);
$linear-purple: linear-gradient(to right, #873299, #44134f);

// linear line gradients
$linear-blue-line: linear-gradient(to bottom, #77dddd, #0026ef);

$primary: $medium-blue;
$secondary: $light-blue;

$font-normal: "Proxima Nova", sans-serif;

$vh100: calc(var(--vh, 1vh) * 100);

//EVENTS
//colors
$blue: #1c4098;
$lightBlue: #0bbbef;
$darkBlue: #122a64;

//categories
$red: #dd0057;
$violet: #873299;
$yellow: #ffed00;
$green: #00ad68;
$darkGreen: #004e59;
$gray: #b4bfca;
$navGray: #77889d;
$bgBody: #f7f9fa;
$clear: #f8f9fa;
$dark: #d7dde3;

//PAGES

$colors: (
	"black": $black,
	"white": $white,
	"beige": $beige,
	"medium-blue": $medium-blue,
	"light-blue": $light-blue,
	"dark-blue": $dark-blue,
	"yellow": $yellow,
	"light-green": $light-green,
	"dark-green": $dark-green,
	"purple": $purple,
	"cherry": $cherry,
	"red": $red,
	"gray-05": $gray-05,
	"gray-04": $gray-04,
	"gray-03": $gray-03,
	"gray-02": $gray-02,
	"gray-01": $gray-01,
	"linear-yellow": $linear-yellow,
	"linear-green": $linear-green,
	"linear-red": $linear-red,
	"linear-blue": $linear-blue,
	"linear-dark-green": $linear-dark-green,
	"linear-purple": $linear-purple,
);
