.steps {
    display: flex;
    align-items: center;
    padding: 52px 0 66px 0;
    width: 100%;
    .step {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-left: 50px;
        counter-increment: section;
        position: relative;
        width: 100%;
        &::before {
            content: counter(section);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background-color: transparent;
            border: 1px solid $black;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            font-size: 16px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: center;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            width: 48%;
            height: 1px;
            background-color: $black;
        }
        &.active {
            color: $green;
            font-weight: 600;
            &::before {
                background-color: $green;
                border-color: $green;
                color: #FFF;
            }
        }
        &.done {
            color: $green;
            font-weight: 600;
            &::after {
                background-color: $green;
            }
            &::before {
                background-color: $green;
                border-color: $green;
                color: #FFF;
            }
        }
        &:last-child {
            text-align: right;
            width: auto;
            &::before {
                content: url('../../assets/img/ico-check-black.svg');
            }
            &::after {
                display: none;
            }
            &.active {
                &::before {
                    content: url('../../assets/img/ico-check-white.svg');
                }
            }
        }
    }
    @include respond-to('tablet') {
        padding: 45px 0 100px 0;
        .step {
            padding-left: 0;
            width: 30%;
            span {
                display: none;
            }
            &.active {
                span {
                    display: inherit;
                    transform: translateY(calc(100% + 10px));
                    height: 40px;
                }
            }
            &:last-child {
                span {
                    display: none;
                }
            }
        }
    }
}