.tag {
	position: relative;
	top: -3px;
	display: inline-flex;
	align-items: center;
	border-radius: 28px;
	font-size: 12px;
	padding: 0 16px;
	height: 18px;
	font-weight: 400;
	&.moderator {
		color: $black;
		border: 0.4px solid #cccccc;
		&::before {
			content: "";
			width: 6px;
			height: 6px;
			display: block;
			margin-right: 8px;
			border-radius: 100%;
			background-color: $lightBlue;
		}
	}
	&.chair {
		background-color: $blue;
		color: white;
	}
	&.expert {
		border: 0.4px solid $blue;
	}
	@include respond-to("mobile") {
		margin: 5px 0;
	}
}
