.videos-grid {
	padding-top: 60px;
	max-width: 1120px;
	margin: auto;
	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 3%;
		@include respond-to("tablet-small") {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&.multiple {
		figure {
			&::before {
				background-image: inherit;
			}
		}
		h4,
		p {
			line-height: 0.2;
		}
		.s1 {
			color: gray;
			text-transform: capitalize;
		}

		.video-card {
			@include respond-to("tablet-small") {
				padding-bottom: 40px;
			}
			&.hide{
				display: none;
			}
		}
	}
}
