.filled-button, .ghost-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border: none;
  background: transparent;
  padding: 0 33px;
  height: 40px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 50px;
    box-sizing: border-box;
    background: $primary;
    box-sizing: border-box;
    transition: 1s $curve;
  }
  span, svg {
    color: $white;
    z-index: 1;
  }
  & > svg {
    margin-left: 22px;
  }
  span {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    z-index: 1;
    pointer-events: none;
    transition: transform 1s $curve, opacity 1s $curve;
    &:last-child:not(:first-child) {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, 150%);
    }
  }
  &-icon {
    width: auto;
    height: 1.5em;
    flex-shrink: 0;
    display: inline-flex;
    margin-left: 22px;
    position: relative;
    z-index: 1;
    svg, img {
      height: 100%;
      fill: currentColor;
    }
  }
  &[data-direction="up"] {
    .filled-button-icon, .ghost-button-icon {
      transform: rotate(-90deg);
    }
  }
  &[data-direction="down"] {
    .filled-button-icon, .ghost-button-icon {
      transform: rotate(90deg);
    }
  }
  &[data-direction="left"] {
    .filled-button-icon, .ghost-button-icon {
      transform: rotate(180deg);
    }
  }
  &.with-icon {
    padding-left: 30px;
    padding-right: 30px;
    .filled-button-icon, .ghost-button-icon {
      height: 1em;
    }
  }
  &.download {
    .filled-button-icon, .ghost-button-icon {
      svg {
        overflow: visible;
        path {
          transform-origin: 50% 50%;
          transition: transform 1s $curve;
        }
      }
    }
  }
  &.reverse {
    flex-direction: row-reverse;
    .filled-button-icon, .ghost-button-icon {
      margin-left: 0;
      margin-right: 15px;
    }
  }
  &.large {
    height: 56px;
    padding: 0px 42px;
    @include respond-to('mobile-medium') {
      margin-top: 20px;
      margin-left: unset !important;
    }
  }
  &.small {
    height: 24px;
    font-size: 12px;
    padding: 0px 28px;
    .filled-button-icon{margin-left: 12px;}
  }
  &.disabled {
    color: $white;
    pointer-events: none !important;
    &::before {
      background: $gray-03;
    }
  }
  &.secondary {
    span{
      color: $medium-blue;
    }
    svg{color:$medium-blue}
    &::before {
      background: $secondary;
    }
  }
  &.white {
    color: $primary;
    &::before {
      background: $white;
      box-shadow: 0px 4px 10px 0px rgba(119, 136, 157, 0.20);
    }
    span, svg {
      color: currentColor;
    }
  }
  &:not(.secondary):hover {
    &::before {
      background: $secondary;
    }
  }
  &.secondary:hover {
    span, svg {
    color: white;
    }
    &::before {
      background: $medium-blue;
    }
  }
}
.ghost-button{
  &.secondary{ 
    span, svg{color: $secondary;}
    &:hover{
      &::before{background-color: $secondary !important;}
      span, svg{color: $medium-blue;}
    }
  }
  &.white{
    &:hover{
      &::before{background-color: white !important;}
      span, svg{color: $medium-blue;}
    }
  }
  &:not(.secondary, .white):hover{
    &::before{background-color: $medium-blue !important;}
    span, svg{color: white;}
  }
}