.placeholder-wrapper {
    position: relative;
    overflow: hidden;
  
    .placeholder {
      max-width: 384px;
      width: 100%;
      margin: 0;
  
      @media screen and (max-width: 383px) {
        width: 120%;
      }
    }
  
    @media screen and (max-width: 383px) {
      &::after {
        content: '';
        position: absolute;
        height: 20%;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: white;
      }
    }
  }