.register-thanks {
    padding: 2rem;
    background-color: #ffffff;
    max-width: 505px;

    @media (width < 850px) {
        padding: 1.5rem;
    }

    .logo {
        width: 200px;
        height: auto;
        margin-bottom: 1.25rem;
    }

    .title-wrapper {
        margin-bottom: 1.875rem;
    }

    .clarification {
        margin-bottom: 1.875rem;
        color: #969493;
        
    }

    .filled-button {
        width: 100%;
    }
}