.sports-side-nav {
    list-style: none;
    position: relative;
    &__subnav{
        display: none;
        text-transform: uppercase;
        color: white;
        margin-left: 1rem;
        white-space: nowrap;
        list-style: none;
        margin: 0px;
        padding-bottom: 20px;
        li{padding: 4px 0;}
    }
    .sports-side-nav__item {
        position: relative;
        button {
            cursor: pointer;
            display: flex;
            align-items: center;

            // span {
            //     display: block;
            //     width: .8rem;
            //     height: 1px;
            //     transform-origin: right;
            //     background-color: $gray;
            // }
            p {
                text-transform: uppercase;
                color: $gray;
                margin-left: 1rem;
                white-space: nowrap;
            }
    
        }

        &.active {
            // span {
            //     background-color: $dark-blue;
            //     transform: scale(1.5);
            // }

            .sports-side-nav__subnav{
                display: block;
                padding-left: 40px;
                padding-bottom: 20px;
                .sbtn{cursor: pointer;padding: 4px 0;cursor: pointer;&.active{text-decoration: underline;}}
            }
            &::after{
                content: '';
                background: linear-gradient(90deg, rgba(18, 42, 100, 0) -4.23%, #122A64 54.74%, #14A3E9 85.39%);
                transform: scale(-1);
                position: absolute;
                z-index: -1;
                right: 0;
                top:0;
                height: 100%;
                width: 110%;
            }
            p {
                color: $white;
                font-weight: 700;
            }
        }

    }

}