.switcher.small {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    &.disabled{pointer-events: none;}
    input {
      appearance: none;
      border: none;
      opacity: 1;
      background: transparent;
      cursor: pointer;
      width: 100%;
      margin:0;
      height: 100%;
      position: absolute;
      z-index: 2;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #B4BFCA;
      -webkit-transition: .4s;
      transition: .4s;
      &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      /* Rounded sliders */
      &.round {
        border-radius: 34px;
      }
      &.round:before {
        border-radius: 50%;
      }
    }
    input:checked + .slider {
      background-color: #1B4098;
    }
  
    input:focus + .slider {
      box-shadow: 0 0 1px #1B4098;
    }
  
    input:checked + .slider:before {
      transform: translateX(16px);
    }
  
    &.disabled{
      .slider {
        background-color: #D7DDE3;
      }
    }
  }
  .switcher.large{
    width: 130px;
    height: 40px;
    border: 1px solid #B7BCD6;
    border-radius: 40px;
    position: relative;
    display: inline-block;
    &.disabled{pointer-events: none;}
    input {
      appearance: none;
      border: none;
      opacity: 1;
      background: transparent;
      cursor: pointer;
      width: 100%;
      margin:0;
      height: 100%;
      position: absolute;
      display: flex;
      z-index: 2;
      &:before{
        content: 'No';
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color:white;
        font-size: 12px;
      }
      &:after{
        content: 'Yes';
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        color:rgba(0, 0, 0, 0.5);
        font-size: 12px;
      }
      &:checked{
        &:before{
          font-weight: 400;
          color:rgba(0, 0, 0, 0.5);
        }
        &:after{
          font-weight: 700;
          color:white
        }
  
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      -webkit-transition: .4s;
      transition: .4s;
      &:before {
        position: absolute;
        content: "";
        height: 32px;
        width: 60px;
        left: 5px;
        bottom: 4px;
        background-color: #1B4098;
        -webkit-transition: .4s;
        transition: .4s;
      }
      /* Rounded sliders */
      &.round {
        border-radius: 34px;
      }
      &.round:before {
        border-radius: 15px;
      }
    }
  
    input:checked + .slider:before {
      transform: translateX(100%);
    }
  
    &.disabled{
      .slider:before {
        background-color:#77889D;
      }
    }
  }