
@import '../variables.scss';
@import '../util/mixins.scss';
@import '../util/breakpoints.scss';
@import '../components/header.scss';
@import '../font-awesome.min.css';
@import '../components/gallery.scss';
@import '../components/testimonials.scss';
@import '../components/videos-grid.scss';
@import '../components/partners.scss';
@import '../components/related.scss';
@import '../components/banner.scss';
@import '../components/chat.scss';
@import '../components/tags.scss';


// HERO
.events_assamblies{
  .ebu_hero{
    background-image: url('../../assets/img/hero_assemblies.jpg') ;
  }
  .ebu_secundary_nav--item::before{background: $red;}
}
.events_group-meeting{
  .ebu_hero{
    background-image: url('../../assets/img/hero_other.jpg') ;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #000;
      opacity: .7;
    }
    .ebu_breadcrumb {
      color:#FFF;
      a {
        color: #FFF;
      }
    }
  }
  .ebu_secundary_nav--item::before{background: $yellow;}
  .ebu_breadcrumb{
    color:rgba(0,0,0,0.5);
    a{color:$black}
  }
}
.events_community{
  .ebu_hero{
    background-image: url('../../assets/img/hero_community.jpg') ;
    background-color: #873299;
    background-blend-mode: soft-light;
  }
  .ebu_secundary_nav--item::before{background: $violet;}
}
.events_user-pay{
  .ebu_hero{
    background-image: url('../../assets/img/hero_user-pay.jpg') ;
    background-color: #00AD68;
    background-blend-mode: soft-light;
  }
  .ebu_secundary_nav--item::before{background: $green;}
}
.events_other{
  .ebu_hero{
    background-image: url('../../assets/img/hero_other.jpg') ;
    background-color: #004E59;
    background-blend-mode: soft-light;
  }
  .ebu_secundary_nav--item::before{background: $darkGreen;}
}
.events_stream{
  .ebu_hero{
    background-image: url('../../assets/img/hero_user-pay.jpg') ;
    background-color: #00AD68;
    background-blend-mode: soft-light;
  }
  .ebu_secundary_nav--item::before{background: $green;}
}
// MAIN
main{position: relative;}
.event-sections{
  background-color: white;
  padding: 80px 0;
  h2{
    font-size: 34px;
    font-weight: 600;
    line-height: 1.4;
    color: $blue;
    margin-bottom: 26px;
  }
  strong{font-weight: 600;}
  p a{color:$blue;text-decoration: underline;}
  .cards-community-events{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding-bottom: 40px;
    .swiper-pagination {
      bottom: 0;
      .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background: $gray;
        opacity: 1;
        &-active {
          background: $blue;
        }
      }
    }
  }
  @include respond-to('mobile') {
    padding: 40px 0;
    .cards-community-events {
      overflow: hidden;
    }
  }
}
.section-white{background-color: white;}
.section-clear{background-color: $clear;}
.section-dark{background-color: $dark;}
.section-blue{background-color: $blue;}
.section-lightblue{background-color: $lightBlue;}
.content-event{
  max-width: 800px;
  width: calc(100% - 350px);
  position: relative;
  & > p{
    font-size: 18px;
    line-height: 1.45;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    i.fa{
      border: 1px solid $lightBlue;
      color: $lightBlue;
      font-size: 14px;
      border-radius: 100%;
      width: 22px;
      height: 22px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    &.with-icon {
      position: relative;
      margin-bottom: 5px;
      padding-left: 30px;
      & + .with-icon {
        margin-bottom: 30px;
      }
      i.fa {
        position: absolute;
        top: 1px;
        left: 0;
      }
    }
  }
  video{
    width: 100%;
    margin-top: 25px;
  }
  .subTitle{
    color: $blue;
    font-size: 18px;
    h4{font-weight: 700;display: inline;}
    margin:34px 0 20px;
  }
  @include respond-to('mobile') {
    width: 100%;
  }
}
// Intro
#intro{  
  padding: 65px 0 80px;
  @include respond-to('mobile') {
    padding: 40px 0;
  }
}
// Schedule

// Location
#location{
  .content-event {
    display: flex;
    align-items: flex-start;
  }
  & &-left {
    width: 300px;
    p {
      strong {
        font-weight: bold;
      }
    }
  }
  & &-right {
    width: calc(100% - 300px);
    margin-left: 50px;
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-bottom: 80%;
    }
    iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  @include respond-to('mobile') {
    .content-event {
      flex-direction: column;
    }
    & &-left {
      width: 100%;
    }
    & &-right {
      width: 100%;
      margin: 20px 0 0 0;
    }
  }
}

// STREAM
.events_stream {
  .content-stream {
    max-width: 894px;
    width: calc(100% - 306px);
    position: relative;
    video {
      width: 100%;
    }
  }
  #aside {
    .content-aside {
      transform: translateY(80px);
    }
    aside {
      top: 60px;
    }
    @include respond-to('mobile') {
      .content-aside {
        transform: none;
      }
      aside {
        top: inherit;
      }
    }
  }
  .stream-wrapper {
    display: flex;
    justify-content: space-between;
  }
  @include respond-to('mobile') {
    .stream-wrapper {
      flex-direction: column;
    }
    .content-stream {
      width: 100%;
    }
  }
}

#related {
  h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    color: $blue;
    margin-bottom: 26px;
  }
}