
@import '../variables.scss';
@import '../util/mixins.scss';
@import '../util/breakpoints.scss';

body, html{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#page {
  display: flex;
  background: #F8F9FA;
}
#aside {
  width: 230px;
  height: 100vh;
  overflow: scroll;
  padding: 20px;
  padding-top: 15px;
  box-sizing: border-box;
  &-logo {
    width: 100%;
    max-width: 60px;
  }
  &-toggle {
    width: 40px;
    height: 30px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8;
    display: none;
    background: #F8F9FA;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.05);
    transform: rotate(180deg);
    color: $primary;
    transition: transform 1s $curve, background 1s $curve, color 1s $curve;
    svg {
      height: 12px;
      fill: currentColor;
    }
  }
}
#tree, #pages {
  font-size: 14px;
  padding-top: 10px !important;
  color: #77889D;
  &, ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
  .category {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .item {
    @include underline;
    &::after {
      bottom: 0;
    }
  }
}
#components {
  width: calc(100% - 230px - 20px);
  height: calc(100vh - 20px);
  margin: 10px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}
@include respond-to('desktop-medium') {
  #aside {
    width: 170px;
    position: fixed;
    right: 0;
    z-index: 9;
    background: #F8F9FA;
    box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.05);
    will-change: transform;
    text-align: right;
    transition: transform 1s $curve, box-shadow 1s $curve;
    &-toggle {
      display: flex;
    }
    &:not(.show) {
      transform: scale(1.1) translateX(100%);
      box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0);
    }
    &.show ~ #aside-toggle {
      transform: rotate(0deg) translateX(-170px);
      background: $primary;
      color: $white;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  #components {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
  }
}