.news-template {
    .back-button {
      margin: 28px 0;
    }
    .s1{color: #1B4098;}
    .container.main {
      display: flex;
      justify-content: space-between;
    }
    .article-left {
      width: calc(100% - 280px - 10%);
      .h1 {
        margin-bottom: 16px;
      }
      .aside-cards-image {
        display: none;
        margin-top: 40px;
      }
      @media (max-width:900px) {
        width: 100%;
      }
    }
    .article-right {
      width: 280px;
      position: relative;
      top: 40px;
      margin-top:0 !important;
      z-index: 1;
      .cardsImage{position: sticky;top: 10px;}
    }
    .body {
      margin-bottom: 80px;
    }
    .text-module {
      width: 100%;
    }
    .notes, .table {
      margin-top: 80px;
    }
    .related {
      width: 100%;
      padding: 120px 0;
      background: #F8F9FA;
      position: relative;
      .h2 {
        margin-bottom: 28px;
      }
      @media (max-width:900px) {
          position: relative;
          &:after{
            content: url('../../assets/img/hand-slide.svg');
            position: absolute;
            bottom: 80px;
            left: 50%;
            transform: translateX(-50%);
          }      
      }
    }
    @media (max-width:900px) {
      & > .container {flex-direction: column;}
      .article-left {
        .aside-cards-image {
          display: block;
        }
      }
      .article-right {
        width: 100%;
        height: auto;
        max-height: calc(100% - 100px);
        overflow-y: auto;
        padding: 20px;
        padding-top: 0;
        box-sizing: border-box;
        position: fixed;
        left: 0;
        top: auto;
        bottom: 0;
        z-index: 99;
        color: white;
        background: #1B4098;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        border-radius: 6px 6px 0px 0px;
        transition: transform 1s cubic-bezier(0.49, 0.27, 0, 1), opacity 1s cubic-bezier(0.49, 0.27, 0, 1);
        &-header {
          display: flex;
        }
        .aside-item {
          .title {
            color: inherit !important;
          }
        }
        .aside-cards-image {
          position: static !important;
          display: none;
        }
        &:not(.openRight) {
          overflow: hidden;
          transform: translateY(calc(100%));
        }
        &.openRight {
          .article-right-header {
            .button {
              svg {
                transform: rotate(45deg);
              }
            }
          }
        }
        &.hidden {
          opacity: 0;
          transform: translateY(100%) !important;
          &, * {
            pointer-events: none !important;
          }
        }
      }
    }
}
.bt-up{
  position: absolute;
  margin-top: -100px;
  right: 40px;
}