@import "../variables.scss";
@import "../util/mixins.scss";
@import "../util/breakpoints.scss";

html,
body {
  overscroll-behavior: none;
}

.platform {
  width: 100%;
  // height: 100dvh;
  // max-height: 100dvh;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 324px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 18px 38px -5px rgba(119, 136, 157, 0.2);

  .side-menu__inner {
    position: relative;
    width: 100%;
    height: 100%;

    .top {
      position: relative;
      padding: 3.438rem 2.5rem 3.75rem;

      .tags {
        margin-bottom: 1.5rem;
      }

      h4 {
        color: $blue;
      }

      p {
        color: $navGray;
        margin: 0 !important;
      }

      .separator {
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $gray-01;
      }
    }

    .body {
      ul {
        margin: 0 !important;
        padding: 0 !important;
      }

      .section-list__item {
        padding: 1rem 1.25rem;
        border-bottom: 1px solid $gray-01;
        display: flex;
        align-items: center;

        .circle {
          flex-shrink: 0;
          width: 2rem;
          height: 2rem;
          border-radius: 100%;
          background-color: $clear;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;
        }

        p {
          margin: 0 !important;
          color: $gray-04;
        }
      }

      .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2.5rem 2rem;

        .log-out-btn {
          display: flex;
          align-items: center;

          img {
            margin-right: 12px;
          }

          p {
            margin: 0 !important;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 114%;
            color: $blue;
          }
        }
      }
    }
  }
}

.main-content {
  position: relative;
  width: calc(100dvw - 324px);
  height: 100%;
  margin-left: auto;
  background-color: #fff;
}

.header {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 3.75rem 6.25rem 4.625rem;
  background: var(
    --Gradient,
    linear-gradient(119deg, #1c4098 7.91%, #122a64 73.16%)
  );
  display: flex;
  justify-content: space-between;
  align-items: start;

  .header__texts {
    color: #ffffff;

    p {
      margin: 0 !important;
    }
  }

  .header__btn-wrapper {
    width: 10rem;
  }

  .header__btn-link {
    position: relative;
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      display: inline-block;
      line-height: 100%;
      color: #ffffff;
    }
  }
}

.section {
  position: relative;
  width: 100%;
  display: flex;
  background-color: $gray-01;

  .section__main-content {
    width: 66.6%;
    padding: 2.5rem 2.813rem 2.5rem 6.25rem;

    .intro-text {
      margin-bottom: 2.22rem;
    }

    .intro-tabs {
      .content_tabs-title {
        margin-bottom: 0.88rem;

        h5 {
          color: $blue;
        }
      }

      .content_tabs {
        position: relative;
        justify-content: flex-start;
        background: transparent;
        gap: 16px;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $gray-02;
        }

        button {
          position: relative;
          z-index: 2;
          height: 35px;
          padding-bottom: 10px;
          margin: 0;
          transition: color ease-in 0.3s, border-color ease-in 0.3s;
        }

        button:hover {
          color: $black;
        }

        button.active {
          color: $black;
        }
      }
    }

    .events__cards {
      position: relative;
      padding-top: 25px;

      &--text {
        p {
          font-size: 12px;
          margin: 0;
        }
      }

      .events-cards__list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .events-card__item {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
          padding: 12px 0;

          .events-card__item--content {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .events-card__content--image {
              position: relative;
              width: 8.1rem;

              .events-card__image-aspect {
                padding-top: 56.25%;
              }

              img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .events-card__content-info {
              position: relative;
              margin-left: 15px;

              .events-card__content-dates {
                display: flex;
                align-items: center;
                gap: 40px;
                padding-bottom: 8px;

                .events-card__content-date {
                  p {
                    margin: 0;
                  }
                }

                .events-card__content-cat-btn {
                  position: relative;
                  font-size: 14px;
                  font-weight: 600;
                  line-height: 16px;
                  margin: 0;

                  &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -15px;
                    transform: translateY(-50%);
                    width: 7px;
                    height: 7px;
                    border-radius: 9999rem;
                  }

                  &.purple:after {
                    background-color: $purple;
                  }

                  &.yellow:after {
                    background-color: $yellow;
                  }

                  &.red:after {
                    background-color: $red;
                  }

                  &.green:after {
                    background-color: $green;
                  }
                }
              }

              .events-card__content-title {
                text-decoration: underline;
              }
            }
          }

          .events-card__item--status {
            .events-card__item--btn {
              padding: 4px 12px;
              border: 1px solid $gray;
              border-radius: 18px;

              &.disabled {
                opacity: 0.5;
              }
            }
          }
        }

        .events-card__item:not(:last-child) {
          border-bottom: 1px solid #ededed;
        }
      }
    }
  }

  .section__right-side {
    width: 33.3%;
    padding-left: 2.813rem;
    padding-right: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.user-right-side-card {
  position: relative;
  z-index: 20;
  padding: 2rem;
  border-radius: 6px;
  border: 0.5px solid $darkBlue;
  background: #ffffff;
  box-shadow: 0px 10px 20px -2px rgba(119, 136, 157, 0.2);

  &.overview {
    top: -50px;
    margin-bottom: 80px;

    h6 {
      margin-bottom: 8px;
      color: $blue;
    }
  }

  .section__right-side-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .section__right-side-item {
    padding: 16px 0;
  }

  .section__right-side-item:not(:last-child) {
    border-bottom: 1px solid #ededed;
  }

  .section__right-side-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .section__right-side__dates {
      display: flex;
      align-items: center;
      gap: 40px;
      padding-bottom: 8px;

      .section__right-side__date {
        p {
          margin: 0;
        }
      }

      .section__right-side__cat-btn {
        position: relative;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        margin: 0;

        p {
          margin: 0;
        }

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: -15px;
          transform: translateY(-50%);
          width: 7px;
          height: 7px;
          border-radius: 9999rem;
        }

        &.purple:after {
          background-color: $purple;
        }

        &.yellow:after {
          background-color: $yellow;
        }

        &.red:after {
          background-color: $red;
        }

        &.green:after {
          background-color: $green;
        }
      }
    }

    .section__right-title {
      text-decoration: underline;

      h6 {
        margin: 0;
        color: $black;
      }
    }
  }
}
