.sports-information {
    position: relative;

    .intro {
        position: relative;
        width: 100%;
        height: 25rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .name {
            position: absolute;
            top: 0; left: 0;
            z-index: 1;
            background-color: rgba($color: #ffffff, $alpha: .65);
            padding: 1.875rem;
            font-size: 48px;
            line-height: 52.8px;
            font-weight: 700;
            color: #122A64;
            text-transform: uppercase;
        
            p {
                margin: 0 !important;
            }
            
            @media (width < 850px) {
                padding: 1rem;
                font-size: 1.75rem;
                line-height: 114%;
            }
        }
    
        .blue-bar {
            position: absolute;
            bottom: 0; right: 0;
            z-index: 1;
            width: 34.75rem;
            height: 1.875rem;
            background: linear-gradient(90deg, rgba(18, 42, 100, 0.00) -4.23%, #122A64 54.74%, #14A3E9 85.39%);
            @media (width < 850px) {
                width: 100%;
            }
        }
    }

    .data-container {
        position: relative;
        width: 100%;
        padding: 2.5rem 8.438rem 3.75rem 6.375rem;
        display: flex;
        justify-content: space-between;
        align-items: start;
        background-color: $clear;
        border-bottom: 1px solid #1C4098;
        gap:20px;
        @media (width < 1000px) {
            padding: 2rem 8rem 2rem 6rem;
        }
        @media (width < 850px) {
            flex-direction: column;
            padding: 1.2rem;
            border-bottom: none;
        }

        .data-type {

            &:first-child {
                @media (width < 850px) {
                    margin-bottom: 2.5rem;
                }
            }

            .type-name {
                margin-bottom: 1.5rem;
                color: $darkBlue;
                @media (width < 850px) {
                    margin-bottom: 1rem;
                }
            }

            .data-text {
                max-width: 200px;

                h6 {
                    font-weight: 400 !important;

                    strong {
                        font-weight: 600;
                    }
                }
            }

            .data-logos {
                display: flex;
                align-items: center;
                gap: 6px;

                .logo {
                    img{width: 100%;display: block;}
                    &.empty {
                        flex-shrink: 0;
                        position: relative;
                        width: 10rem;
                        height: 6.25rem;
                        border: 1px solid $dark;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-transform: uppercase;
                        color: $dark;
                        
                        @media (width < 850px) {
                            width: 103px;
                            height: 64px;
                        }
                    }
                }
            }

        }

    }
}