.side-menu {
    position: fixed;
    top: 0; left: 0;
    z-index: 50;
    width: 324px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 18px 38px -5px rgba(119, 136, 157, 0.20);

    @media (width < 1025px) {
        width: 100%;
        transform: translateX(-100%);
    }

    .side-menu__inner {
        position: relative;
        width: 100%;
        height: 100%;

        .top {
            position: relative;
            padding: 3.438rem 2.5rem 3.75rem;

            @media (width < 1025px) {
                padding: 2.5rem 1.25rem;
            }
            
            .tags {
                margin-bottom: 1.5rem;
            }
    
            h4 {
                color: $blue;
                cursor: default;
            }
    
            p {
                color: $navGray;
                cursor: default;
                margin: 0 !important;
            }
    
            .separator {
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0; left: 0;
                background-color: $gray-01;
            }
        }
    
        .body {
            ul {
                margin: 0 !important;
                padding: 0 !important;
            }
    
            .section-list__item {
                position: relative;
                padding: 1rem 1.25rem;
                border-bottom: 1px solid $gray-01;
                display: flex;
                align-items: center;

                &::after{
                    content: "";
                    position: absolute;
                    top: 0; right: 0;
                    width: 4px;
                    height: 100%;
                    background-color: $blue;
                    transform-origin: top;
                    transform: scaleY(0);
                    transition: transform .3s ease-in-out;
                }
    
                .circle {
                    position: relative;
                    flex-shrink: 0;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 100%;
                    background-color: $clear;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    margin-right: 1rem;

                    &::after{
                        content: "";
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        border-radius: 100%;
                        background-color: $blue;
                        transform-origin: center;
                        transform: scale(0);
                        transition: transform .3s ease-in-out;
                    }

                    img {
                        position: relative;
                        z-index: 1;
                        filter: invert(100%) brightness(100%) contrast(100%);
                        transition: filter 0.3s ease-in-out;
                    }
                }
    
                p {
                    margin: 0 !important;
                    color: $gray-04;
                }

                &:hover {
                    &::after{
                        transform: scaleY(1);
                    }

                    .circle {
    
                        &::after{
                            transform: scale(1);
                        }
                    }

                    img {
                        filter: invert(100%) brightness(200%) contrast(200%);
                    }
                }

                &.active {
                    &::after{
                        transform: scaleY(1);
                    }

                    .circle {
    
                        &::after{
                            transform: scale(1);
                        }

                    }

                    img {
                        filter: invert(100%) brightness(200%) contrast(200%);
                    }
                }
            }
    
            .bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 2.5rem 2rem;
                
    
                .log-out-btn {
                    display: flex;
                    align-items: center;
    
                    img {
                        margin-right: 12px;
                        transition: transform .3s ease-in-out;
                    }
    
                    p {
                        position: relative;
                        margin: 0 !important;
                        font-family: "Proxima Nova";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 114%;
                        color: $blue;

                        &::after {
                            content: '';
                            position: absolute;
                            left: 0; bottom: -2px;
                            width: 100%; height: 2px;
                            background-color: $blue;
                            transform-origin: right;
                            transform: scaleX(0);
                            transition: transform .3s ease-in-out;
                        }

                    }

                    &:hover {
                        img {
                            transform: translateX(3px);
                        }

                        p {
                            &::after {
                                transform-origin: left;
                                transform: scaleX(1);
                            }
                        }
                    }
                }
    
            }
        }
    }
}