.subtitle {
  color:inherit;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  font-size: 14px;
}
.cardMainTop{
  display: flex;
  align-items: flex-start;
  gap:16px
}