<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5">
	<meta name="format-detection" content="telephone=no">
	<link rel="canonical" href="https://ebu.ch">
	<meta name="robots" content="all">
	<title>EBU | {{nameCapitalized}}</title>
	<meta name="description" content="description">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@ebu">
	<meta name="twitter:creator" content="@ebu">
	<meta name="twitter:title" content="EBU">
	<meta name="twitter:description" content="description">
	<meta name="twitter:image" content="https://ebu.ch/assets/img/share.jpg">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://ebu.ch">
	<meta property="og:title" content="EBU">
	<meta property="og:description" content="description">
	<meta property="og:image" content="https://ebu.ch/assets/img/share.jpg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<link rel="icon" href="/assets/fav/fav.ico" sizes="any">
	<link rel="icon" href="/assets/fav/fav.svg">
	<link rel="mask-icon" href="/assets/fav/fav-mask.svg" color="#1B4098">
	<link rel="apple-touch-icon" href="/assets/fav/apple-touch.png">
	<link crossorigin="use-credentials" rel="manifest" href="/assets/fav/manifest.json">
	<meta name="theme-color" content="#1B4098">
</head>

<body>
	<main id="main">
		<div id="loading"></div>
		<div id="page">
		</div>
	</main>
	<script type="text/javascript" src="/loading.js"></script>
	<script type="text/javascript" src="/{{name}}.style.js"></script>
	<script type="module" src="./js/pages/{{name}}.page.js"></script>
</body>
</html>